[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "==4.2.9"
django-tastypie = "==0.14.6"
pygame = "==2.5.2"

[dev-packages]

[requires]
python_version = "3.9"
